/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'StardewValley';
    src: url('./assets/fonts/StardewValley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Title';
    src: url('./assets/fonts/Stardew-Valley-All-Caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, img, a {
    font-family: StardewValley;
}

h6 {
    font-family: StardewValley;
}

body {
    background-image: url('https://i.imgur.com/GTnMVrS_d.webp?maxwidth=1520&fidelity=grand');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330),auto;
}

html *:hover{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330),auto;
}

html:active *:hover{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330),auto;
}