
.card, .btn {
    border-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png");
    border-image-slice: 20;
    border-image-width: 22;
    border-image-outset: 5;
    border-image-repeat: round;
    background-color: #ffa;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.06);
}

.card{
    height: 16em;
}

.card-body{
    position: absolute;
    bottom: 0;
    width: 80%;
}
h2{
    font-family: 'StardewValley';
}

#title{
    font-size: 10ch;
}

#form{
    border-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png");
    border-image-slice: 20;
    border-image-width: 22;
    border-image-outset: 5;
    border-image-repeat: round;
    border: 30px solid transparent;
}
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.btn{
    background-image: url('./../../assets/villager-picture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.btn {
    font-size: 1.2em;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
}
  
.btn:hover {
  transform: scale(0.96);
}

.btn:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.btn::after {
  content: '';
  position: absolute;
  left: -2.5%;
  width: 105%;
  height: 100%;
  z-index: -100;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
label{
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    
    &:after {
        font-family: 'FontAwesome';
        display: inline-block;
        text-align: center;
        font-size: 80px;
        content: attr(data-icon);
        padding: 20px 20px;
        border-radius: 15px;
        color: rgba(0,0,0,.4);
        transition: box-shadow 1s, color 1s;
        margin-bottom: 10px;
    }
    
    &:checked {
        &:after {
            box-shadow: 2px 2px 14px rgba(0,0,0,.4);
            color: rgba(255,255,255,.6);
        }
    }

    &:hover{ 
        &:after {
        box-shadow: 2px 2px 14px rgba(0,0,0,.4);
        color: rgba(255,255,255,.6);
        }
    }
}

