<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/villagers.png">
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2" *ngFor="let npc of npcs">
        <button style="display: contents;" [routerLink]="['/villager-detail', npc.name]">
          <div class="card my-2 p-3">
            <img class="card-img-top" [src]="npc.img" alt="{{npc.name}} Image">
            <div class="card-body">
              <h2 class="card-title text-center">{{npc.name}}</h2>
            </div>
          </div>
        </button>
      </div>
    </div>
</div>
  