<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/villagers.png">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Try out some fun filters!</h2>
      </div>
    </div>
    <div class="row mb-3" >
      <form #filters="ngForm" class="form" (ngSubmit) = "applyFilters(filters.value)">
        <div class="row gx-0 p-0" style="border: 1px solid transparent;border-image: url('https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png');
        border-image-slice: 20;
        border-image-width: 22;
        border-image-outset: 10;
        border-image-repeat: round;">
          
            <div class="row">
              <div class="col d-flex">
                <label for="gender" class="form-label">Gender:</label>
              </div>
              <div class="col">
                <label for="manners" class="form-label">Manners:</label>
              </div>
              <div class="col">
                <label for="datable" class="form-label">Dateable:</label>
              </div>
            </div>
          
          <div class="col d-flex">
            
            <div class="form-check">
              <input type="radio" name="gender" value="male" data-icon='' [(ngModel)]="filters.value.gender"/>
            </div>
            <div class="form-check">
              <input type="radio" name="gender" value="female" data-icon='' [(ngModel)]="filters.value.gender"/>
            </div>
            <div class="form-check">
              <input type="radio" name="gender" value="undefined" data-icon='?' [(ngModel)]="filters.value.gender"/>
            </div>
          </div>
          <div class="col d-flex">
            
              <div class="form-check">
                <input type="radio" name="manners" value="rude" data-icon='' [(ngModel)]="filters.value.manners"/>
              </div>
              <div class="form-check">
                <input type="radio" name="manners" value="neutral" data-icon='' [(ngModel)]="filters.value.manners"/>
              </div>
              <div class="form-check">
                <input type="radio" name="manners" value="polite" data-icon='' [(ngModel)]="filters.value.manners"/>
              </div>
          </div>
          <div class="col d-flex">
            
              <div class="form-check">
                <input type="radio" name="datable" value="datable" data-icon='' [(ngModel)]="filters.value.datable"/>
              </div>
              <div class="form-check">
                <input type="radio" name="datable" value="not-datable" data-icon='' [(ngModel)]="filters.value.datable"/>
              </div>
          </div>
          
          <div class="col">
            <button type="submit" class="btn btn-danger h-50 w-100">Filter</button>
            <button class="btn btn-primary h-50 w-100" (click)="clearFilters()">Clear Filters</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2" *ngFor="let npc of npcs">
        <button style="display: contents;" [routerLink]="['/villager-detail', npc.name]">
          <div class="card my-2 p-3">
            <img class="card-img-top" [src]="npc.img" alt="{{npc.name}} Image">
            <div class="card-body">
              <h2 class="card-title text-center">{{npc.name}}</h2>
            </div>
          </div>
        </button>
      </div>
    </div>
</div>
  