
.card {
    border-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png");
    border-image-slice: 20;
    border-image-width: 22;
    border-image-outset: 5;
    border-image-repeat: round;
    background-color: #ffa;
    overflow: hidden;
}

h2{
    font-family: 'StardewValley';
}

#title{
    font-size: 10ch;
}