.formContainer {
    border: 1px solid transparent;
    border-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png");
    border-image-slice: 20;
    border-image-width: 20;
    border-image-outset: 5;
    border-image-repeat: round;
    
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://pics.craiyon.com/2023-09-18/c049c07bbd6d420b88fe32cf2e66f900.webp");
    background-repeat:repeat-y repeat-x,;
    background-size: 150px;
}

h2, input[type=text], input[type=number], input[type=url], .form-label, .form-select{
    font-family: 'StardewValley';
}

input[type=text], input[type=number], input[type=url]{
    font-size: x-large;
}
.form-label{
    font-size: xx-large;
}
.form-select{
    font-size: x-large;
}
#title{
    font-size: 10ch;
}

#btn-add:hover{
    transition-delay:0.01s;
    border: 2px solid;
}
