<div class="container">
  <div class="formContainer mt-3">
    <form #vForm="ngForm" (ngSubmit) = "onSubmitFile()" class="p-4 rounded">
      <img src="../../assets/upload-a-json-file.png">
        <div class="row">
            <div class="col">
                <div class="row mb-3">
                    <div class="col">
                      <div class="row d-flex align-items-center">
                        <div class="col-3">
                          <label for="input-json">
                            <img src="https://stardewcommunitywiki.com/mediawiki/images/e/ea/Pierre%27s_Missing_Stocklist.png" width="50" height="50" style="cursor: pointer;">
                          </label>
                          <input type="file" id="input-json" name="json" (change)="fileUploaded($event)" style="display:none">
                          <span style="font-size: x-large;">{{ 'Selected file: ' + fileName}}</span>
                        </div>
                        <div class="col-2">
                          <button style="padding: 0" type="submit"><img id="btn-add" style="height: 50px;" src="../../assets/add-element-s.png"/></button>
                        </div>
                      </div>
                        <div *ngIf="fileContent && !wrongFormat" style="color: blanchedalmond; background-color: rgba(20, 20, 20, 0.262);">
                            <pre>{{ fileContent | json }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="fileContent && !wrongFormat && !isNotComplete" type="submit" class="btn btn-primary" style="background-color: rgb(231, 143, 172); border-color: rgb(231, 143, 172);">Add element(s)</button>
        <div *ngIf="isNotComplete" class="row"> 
          <div class="col">
              <p class="text-danger">Error: Data is incomplete</p>
          </div>
        </div>
          <div *ngIf="wrongFormat" class="row">
            <div class="col">
                <p class="text-danger">Error: Wrong Format </p>
            </div>
        
      </div>
    </form>
  </div>
  <div class="formContainer mt-3">

    <form #vilForm="ngForm" ngNativeValidate (ngSubmit)= "submitElement(vilForm.value, true)" class="p-4 rounded">
      <img src="../../assets/insert-a-villager.png">
        

        <div class="mb-3">
            <label for="vilName" class="form-label">Name:</label>
            <input type="text" maxlength="20" class="form-control" id="name" name="name" [(ngModel)]="vilForm.value.name" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <select class="form-select" id="age" required [(ngModel)]="defaultAge" name="age">
                <option value="" disabled selected>How old are they?</option>
                <option value="adult">adult</option>
                <option value="teen">teen</option>
                <option value="child">child</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Manners:</label>
            <select class="form-select" id="manners" required [(ngModel)]="defaultManners" name="manners">
                <option value="" disabled selected>How do they behave?</option>
                <option value="rude">rude</option>
                <option value="polite">polite</option>
                <option value="neutral">neutral</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Social Anxiety:</label>
            <select class="form-select" id="social_anxiety" required [(ngModel)]="defaultPersonality" name="social_anxiety">
                <option value="" disabled selected>Select a personality</option>
                <option value="outgoing">outgoing</option>
                <option value="neutral">neutral</option>
                <option value="shy">shy</option>
            </select> 
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Optimism:</label>
            <select class="form-select" id="optimism" required [(ngModel)]="defaultOptimism" name="optimism">
                <option value="" disabled selected>What's their mindset?</option>
                <option value="positive">positive</option>
                <option value="neutral">neutral</option>
                <option value="negative">negative</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Gender:</label>
            <select class="form-select" id="gender" required [(ngModel)]="defaultGender" name="gender">
                <option value="" disabled selected>Select a gender</option>
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="undefined">unknown</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="age" class="form-label">Datable:</label>
            <select class="form-select" id="datable" required [(ngModel)]="defaultDatable" name="datable">
                <option value="" disabled selected>Are they single and ready to mingle?</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Love Interest:</label>
            <select class="form-select" id="love_interest" required [(ngModel)]="defaultLoveInterest" name="love_interest">
                <option value="" disabled selected>Choose a lover</option>
                <option *ngFor="let name of names" value="name">{{name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="home_region" class="form-label">Home Region:</label>
            <input type="text" maxlength="20" class="form-control" name="home_region" [(ngModel)]="vilForm.value.home_region" required>
        </div>
        <div class="mb-3">

            
            <label for="month" class="form-label">Month:</label>
            <select class="form-select" id="month" required [(ngModel)]="vilForm.value.month" name="month">
              <option value="" disabled selected>When were they born?</option>
              <option value="spring">spring</option>
              <option value="summer">summer</option>
              <option value="fall">fall</option>
              <option value="winter">winter</option>
            </select>
            <label for="day" class="form-label">Day:</label>
            <input type="number" min="1" max="28" class="form-control" name="day" [(ngModel)]="vilForm.value.day" required>
          
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Image URL</label>
            <input #imgValue type="url" [(ngModel)] ="vilForm.value.img" (change)="imgUploaded(imgValue.value)">
            <img height="100px" width="100px" *ngIf="imgUrl && !wrongImgFormat" [src]="imgUrl" alt="">
            <div *ngIf="wrongImgFormat">
              <p class="text-danger">Error: Wrong image format, please use png or jpg</p>
            </div>
          </div>
        <button style="padding: 0" type="submit"><img id="btn-add" style="height: 50px;" src="../../assets/add-element-s.png"/></button>
    </form> 
  </div>

  <div class="formContainer mt-3">

    <form #achForm="ngForm" ngNativeValidate (ngSubmit)= "submitElement(achForm.value, false)" class="p-4 rounded">
      <img src="../../assets/insert-a-villager.png">
        <div class="mb-3">
            <label for="achName" class="form-label">Name:</label>
            <input type="text" maxlength="20" class="form-control" id="name" name="name" [(ngModel)]="achForm.value.name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" maxlength="50" class="form-control" id="description" name="description" [(ngModel)]="achForm.value.description" required>
        </div>
        <div class="mb-3">
            <label for="display" class="form-label">Display before earned:</label>
            <select class="form-select" id="display" required [(ngModel)]="defaultDisplay" name="display">
                <option value="" disabled selected>Display before earned?</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="prerequisite" class="form-label">Prerequisite achievement:</label>
            <select class="form-select" id="prerequisite" required [(ngModel)]="defaulPrerequisite" name="prerequisite">
                <option value="" disabled selected>Prerequisite achievement</option>
                <option *ngFor="let name of names" value="name">{{name}}</option>
            </select>
        </div>
        <input type="hidden" [(ngModel)]="achForm.value.hat_earned" value=" ">
        <input type="hidden" [(ngModel)]="achForm.value.type" value="achievement">
        <button style="padding: 0" type="submit"><img id="btn-add" style="height: 50px;" src="../../assets/add-element-s.png"/></button>
    </form> 
  </div>
</div>