<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" id="title">
            <img src="https://cdn2.steamgriddb.com/icon/2119b8d43eafcf353e07d7cb5554170b/32/256x256.png" alt="Logo" height="30" class="d-inline-block align-text-top">
            Stardew Valley
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/npcs">NPCs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/achievements">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-element">New Element</a>
                </li>
            </ul>
        </div>
    </div>
</nav>