<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/villagers.png">
      </div>
    </div>
    <div class="row gap-4 d-flex justify-content-center">
      <div class="col-3 align-items-center">
        <div class="row h-75 mb-3">
          <div class="card d-flex align-items-center justify-content-center avatar-box">
              <img [src]="villager.img" class="img-fluid rounded-start villager" alt="{{villager.name}}" style="height: 95%; width: auto;">
          </div>
        </div>
        <div class="row">
          <div class="d-flex align-items-center justify-content-center name">
              <h1 class="mt-1">{{villager.name}}</h1>
              <img *ngIf="isDatable" src="https://stardewcommunitywiki.com/mediawiki/images/5/59/Secret_Heart.png" class="img-fluid rounded-start" alt="{{villager.datable}}">
          </div>
        </div>
      </div>
      <div class="card col-6">
        <div class="row g-0">
            <div class="col">
              <div class="card-body"> 
                <div class="row">
                  <div class="col">
                      <p class="card-text">Age:
                        <span [hidden]="editing"> {{villager.age}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      <p class="card-text">Manners:
                        <span [hidden]="editing"> {{villager.manners}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      <p class="card-text">Personality:
                        <span [hidden]="editing"> {{villager.social_anxiety}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      <p class="card-text">Optimism:
                        <span [hidden]="editing"> <img [src]="optimismImg" class="img-fluid rounded-start" alt="{{villager.optimism}}"></span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                  </div>
                  <div class="col details">
                      <p class="card-text">Gender:
                        <span [hidden]="editing"> {{villager.gender}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      
                      <p class="card-text">Love interest:
                        <span [hidden]="editing"> {{villager.love_interest | isNull}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      <p class="card-text">Home region:
                        <span [hidden]="editing"> {{villager.home_region}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                      <p class="card-text">Birthday:
                        <span [hidden]="editing"> <img [src]="monthImg" class="img-fluid rounded-start h-100" alt="{{month}}">
                          {{day | isNull}}</span>
                        <input type="text" class="form-control" #title [hidden]="!editing"/>
                      </p>
                  </div>
                </div>
                <div class="row justify-content-evenly">
                  <div class="col d-flex">
                    <form class="p-4 rounded" [hidden]="editing">
                        <button type="submit" class="btn" (click)="editing = !editing">Edit</button>
                    </form>
                    <form class="p-4 rounded" [hidden]="!editing">
                      <button type="submit" class="btn">Save</button>
                    </form>
                  </div>
                  <div class="col d-flex">
                    <form class="p-4 rounded" [hidden]="editing">
                      <button type="submit" class="btn pt-2" (click)="deleteVillager(villager.name)">Delete</button>
                    </form>
                    <form class="p-4 rounded" [hidden]="!editing">
                      <button type="submit" class="btn pt-2" (click)="editing = !editing">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>