<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/villagers.png">
      </div>
    </div>
    <div class="row gap-4 d-flex justify-content-center">
      <div class="col-3 align-items-center">
        <div class="row h-75 mb-3">
          <div class="card d-flex align-items-center justify-content-center avatar-box">
              <img [src]="villager.img" class="img-fluid rounded-start villager" alt="{{villager.name}}" style="height: 95%; width: auto;">
          </div>
        </div>
        <div class="row">
          <div class="d-flex align-items-center justify-content-center name">
              <h1 class="mt-1">{{villager.name}}</h1>
              <img *ngIf="isDatable" src="https://stardewcommunitywiki.com/mediawiki/images/5/59/Secret_Heart.png" class="img-fluid rounded-start" alt="{{villager.datable}}">
          </div>
        </div>
      </div>
      <div class="card col-6">
        <div class="row g-0">
            <div class="col">
              <div class="card-body"> 
                <div class="row">
                  <div class="col">
                      <p class="card-text">Age: {{villager.age}}</p>
                      <p class="card-text">Manners: {{villager.manners}}</p>
                      <p class="card-text">Personality: {{villager.social_anxiety}}</p>
                      <p class="card-text">Optimism: 
                        <img [src]="optimismImg" class="img-fluid rounded-start" alt="{{villager.optimism}}">
                      </p>
                  </div>
                  <div class="col details">
                      <p class="card-text">Gender: {{villager.gender}}</p>
                      <p class="card-text">Love interest: {{villager.love_interest}}</p>
                      <p class="card-text">Home region: {{villager.home_region}}</p>
                      <p class="card-text">Birthday: 
                        <img [src]="monthImg" class="img-fluid rounded-start h-100" alt="{{month}}">
                        {{day}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>