.container{
    margin-bottom: 10%;
}

.card {
    border-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png");
    border-image-slice: 20;
    border-image-width: 20;
    border-image-outset: 5;
    border-image-repeat: round;
    background-color: #ffa;
    overflow: hidden;
}

h1{
    font-family: 'StardewValley';
}
p{
    font-family: 'StardewValley';
    font-size: x-large;
}

#title{
    font-size: 10ch;
}

.details{
    height:100%;
}


.avatar-box{
    background-image: url('./../../assets/villager-picture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.name{
    background-image: url('./../../assets/villager-name.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#btn-add:hover{
    transition-delay:0.01s;
    border: 2px solid;
}