<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Guess today's villager's name! </h1>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-6 col-md-3 col-lg-2">
              <div class="card my-2 p-3">
                <img class="card-img-top" [src]="randomNpc.img" alt="{{randomNpc.name}} Image">
                <div class="card-body">
                  <h2 class="card-title text-center">Who is this?</h2>
                </div>
              </div>
    
          </div>
    </div>
</div>
