<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Achievements</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Display on collections tab before earned</th>
                        <th scope="col">Prerequisite achievement</th>
                        <th scope="col">Hat earned</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let achievement of achievements">
                        <th>
                            <img height="100" [src] = "achievement.img" alt="">
                        </th>
                        <td>{{achievement.name}}</td>
                        <td>{{achievement.description}}</td>
                        <td>{{achievement['display on collections tab before earned']}}</td>
                        <td>{{achievement['prerequisite achievement']}}</td>
                        <td>{{achievement['hat earned']}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
