<div class="container">
    <div class="row">
        <div class="col text-center mt-3 mb-4">
          <img src="../../assets/achievements.png">
        </div>
    </div>

    <div class="row mb-3">
        <form #filters="ngForm" class="form" (ngSubmit) = "filterAchievements(filters.value)">
            <div class="col gx-3 p-0 mb-4" style="border: 1px solid transparent; border-image: url('https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png'); 
            border-image-slice: 20; 
            border-image-width: 22; 
            border-image-outset: 22; 
            border-image-repeat: round;">
            
                <div class="row text-white pt-1">
                    
                    <div class="col-md">
                        <div class="row">
                            <label for="req" class="form-label">Does it have a prerequisite?:</label>
                        </div>
                        <div class="row">
                            <div class="col d-flex">
                                <div class="form-check">
                                    <input type="radio" name="req" value="checked" data-icon=''  required [(ngModel)]="filters.value.needs_pre" name="needs_pre"/>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="req" value="unchecked" data-icon='' required [(ngModel)]="filters.value.needs_pre" name="needs_pre"/>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-danger h-100 w-100">Filter</button>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary" (click)="getAchievements()">Clear Filters</button>
    </div>

    <div class="row">
        <div class="col" id="table">
            <table class="table">
                <div class="row d-flex flex-row justify-content-around gap-3 encabezados align-items-center pe-0 mb-3 mt-5">
                    <div class="card encabezado col-1">Icon</div>
                    <div class="card encabezado col-2">Name</div>
                    <div class="card encabezado col-3">Description</div>
                    <div class="card encabezado col-2">Display before earned</div>
                    <div class="card encabezado col-3">Prerequisite achievement</div>
                </div>
                <tbody>
                    <tr class="col-12" *ngFor="let achievement of achievements">
                        <div class="row card register my-2 p-3 d-flex flex-row justify-content-around align-items-center">
                                <img class="card-img col-3" [src]="achievement.img" alt="{{achievement.name}} Image">
                                <h3 class="col-2">{{achievement.name}}</h3>
                                <h3 class="col-3">{{achievement.description}}</h3>
                                <h3 class="col-2">{{achievement.display_on_collections_tab_before_earned | displayBeforeEarned }}</h3>
                                <h3 class="col-2">{{achievement.prerequisite_achievement | preAchievement}}</h3>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>